<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="2616bb4e-19af-4683-80f5-a6e7a6e3830f"
            Publisher="CN=mpe.000"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>ShowMeMetro2</DisplayName>
    <PublisherDisplayName>mpe.000</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>ShowMeMetro2</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="ShowMeMetro2.App">
        <VisualElements
            DisplayName="ShowMeMetro2"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="ShowMeMetro2"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>